[Unit]
Description=Battery Level Monitor
After=graphical-session.target
PartOf=hyprland.target

[Service]
Type=simple
ExecStart=%h/Arch-dotfiles/scripts/battery-warn.sh
Restart=always
RestartSec=10
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=hyprland.target
